#atr-tabs ul {
	overflow: auto;
	margin-top:0px;
}
#atr-tabs ul li {
	margin-top:15px;
	display:inline-block;
	margin-bottom:0px;
}
#atr-tabs ul li a {
	outline:none;
}
#atr-tabs li.ui-state-focus { outline:none!important; }